@import "../header.css";

/* no margin */
.blog-article, body {
  margin: 0
}


.blog-article {
  margin-top: 16px;
  /* specify the border-width */
  border-style: solid; 
}

.click-me {
  text-align: right;
}

.click-me a:hover {
  color: hotpink;
}
